body {
    background: #e3eaf2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 250px;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #4573b0;
}

button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    
}

button:hover {
    background: #0056b3;
}
